// Define your fonts
@font-face {
    font-family: "Playfair";
    src: url("/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SourceSansPro";
    src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  // Define your colors
  $primary-color: #2e2532;
  $secondary-color: #5e4969;
  $tertiary-color: #ffffff;
  
  // Global
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: $primary-color;
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  // Font
  h1, h2, h3, h4, h5, #result {
    font-family: "Playfair", serif;
    color: $tertiary-color;
  
    &.margin {
      margin: 1rem;
    }
  }
  
  p {
    font-family: "SourceSansPro", sans-serif;
    margin: 1rem;
    color: $tertiary-color;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
  }
  
  // Components
  img {
    height: auto;
    border-radius: 8px;
    width: 50px;
    height: 50px;
  }
  
  button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
  }
  
  // Player
  #player-container {
    display: flex;
    
    #player1,
    #player2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem;
    }
  }
  
  // Animations
  @keyframes buttonClick {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate {
    animation-name: buttonClick;
    animation-duration: 0.2s;
  }
  